{% extends 'core/base.html' %}
{% block content %}
    <div class="page-header">
        <h1>Pedidos de Exames</h1>
        <a href="{% url 'pedidoexame_create' %}" class="btn btn-primary">Adicionar Novo Pedido</a>
    </div>

    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Consulta (Paciente)</th>
                    <th>Exame</th>
                    <th>Realizado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{ object.consulta.paciente }} ({{ object.consulta.data_hora|date:"d/m/y" }})</td>
                    <td>{{ object.exame.nome }}</td>
                    <td>{% if object.realizado %}Sim{% else %}Não{% endif %}</td>
                    <td class="actions">
                        <a href="{% url 'pedidoexame_update' object.pk %}">Editar</a>
                        <a href="{% url 'pedidoexame_delete' object.pk %}" style="color: var(--danger-color);">Apagar</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum pedido de exame registado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}